/* reset */
@font-face{font-family:GTSectraDisplay-Light;
    src:url(../fonts/GT-Sectra-Display-Light.eot);
    src:url(../fonts/GT-Sectra-Display-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/GT-Sectra-Display-Light.woff) format("woff"),
    url(../fonts/GT-Sectra-Display-Light.ttf) format("truetype"),
    url(../fonts/GT-Sectra-Display-Light.svg#1ee50a527b32846dbd22c7e42ba2c888) format("svg");
    font-style:normal;font-weight:200
}
@font-face{font-family:Maison Neue Book;
    src:url(../fonts/MaisonNeue-Book.eot);
    src:url(../fonts/MaisonNeue-Book.eot?#iefix) format("embedded-opentype"),
    url(../fonts/MaisonNeue-Book.woff) format("woff"),
    url(../fonts/MaisonNeue-Book.ttf) format("truetype"),
    url(../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab) format("svg");
    font-style:normal;font-weight:400
}
@font-face{font-family:Maison Neue;
    src:url(../fonts/maisonneue-medium-webfont.eot);
    src:url(../fonts/maisonneue-medium-webfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/maisonneue-medium-webfont.woff) format("woff"),
    url(../fonts/maisonneue-medium-webfont.ttf) format("truetype"),
    url(../fonts/maisonneue-medium-webfont.svg#751d4e146592611362c6dd26f9bc3016) format("svg");
    font-style:normal;
    font-weight:400
}
@font-face{
    font-family:icomoon;src:url(../fonts/icomoon.eot?ph6iv2);
    src:url(../fonts/icomoon.eot?ph6iv2#iefix) format("embedded-opentype"),
    url(../fonts/icomoon.ttf?ph6iv2) format("truetype"),
    url(../fonts/icomoon.woff?ph6iv2) format("woff"),
    url(../fonts/icomoon.svg?ph6iv2#icomoon) format("svg");
    font-weight:400;
    font-style:normal
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block;}
html {  width: 100%; height: 100%;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content:none;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;color:inherit;}
a:hover {text-decoration:none;}
legend, caption, hr {display:none;}
em {font-style:normal;}
img {vertical-align:top;max-width: 100%;}
input {vertical-align:middle;}
p,h3,h2,h1{letter-spacing: normal;}
input,textarea,button,select{ font-family: sans-serif;-webkit-appearance: none;border-radius: 0;border: 0;background:#fff; }
section{width:100%;text-align: center;}
body{background-color: #fff;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 12px;line-height: 12px;color: #000;min-height: 100%;}
button{cursor: pointer}
button,select{ -webkit-appearance: none;-moz-appearance: none; appearance: none;border: 0;background: transparent;}
video{object-fit: cover;}
ol, ul,li { list-style: none; }
h1,h2,h3,h4,h5{font-weight: normal}
a, a img { border: none;}
html{ height: 100%;overflow-y: scroll;overflow-x: hidden;}
* { box-sizing: border-box;}
/*.wrapper, body {position: relative;}
.wrapper{overflow: hidden}*/
.cb{clear: both}
[class*=" icon-"], [class^=icon-] {font-family: icomoon!important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;}
*, [class*=" icon-"], [class^=icon-] {-webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
.icon-arrow:before{content:"\e900"}
.icon-close .path1:before{content:"\e901";color:#000}
.icon-close .path2:before{content:"\e902";margin-left:-1em;color:#fff}
.icon-zoom .path1:before{content:"\e903";color:#000}
.icon-zoom .path2:before{content:"\e904";margin-left:-1em;color:#fff}
.icon-logoSticky:before{content:"\e905"}
.icon-logo:before{content:"\e906"}
body.page-template-tpl-identity {background-color: #000;}
body.page-template-tpl-workshop {background-color: #000;}
#preload {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    display: none;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;
    font-size: 100px;
    line-height: 100px;
    color: #000;
    text-align: center;
}
#preload.white {background-color: #f3f3f3;}
#preload.white .img-black {display: inline-block;}
#preload.white .img-white {display: none;}
#preload.black {background-color: #000;color: #fff;}
#preload.black .img-white {display: inline-block;}
#preload.black .img-black {display: none;}
.d-table {display: table;width: 100%;height: 100%;}
.d-cell {display: table-cell;vertical-align: middle;width: 100%;}
.wrap {margin: 0 auto;position: relative;width: 100%;padding: 0 14px;max-width: 976px;}
#open_preload{position: fixed;top:0;left:0;right:0;bottom:0;z-index: 999}
#open_preload .left{position: absolute;left:0;width: 50%;height: 100%;overflow: hidden;}
#open_preload .right{position: absolute;left:50%;width: 50%;height: 100%;overflow: hidden;}
#open_preload .bg{position: absolute;top:0;left:0;right:0;bottom:0;background: #000;overflow: hidden;}
#open_preload .text{position: absolute;top:50%;color:#fff;font-size: 20px;line-height: 50px;margin-top:-25px;}
#open_preload .left .text{right: 0;transform: translateX(102%);font-size: 40px;letter-spacing: 10px;font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;}
#open_preload .right .text{left: 0;transform: translateX(-102%);font-size: 11px;margin-top:-20px;text-transform: uppercase;letter-spacing: 2.5px;font-family: Maison Neue Book,Helvetica,Arial,sans-serif}
#open_preload .center_line{position: absolute;position: absolute;left: 50%;height:0;bottom:0;width: 1px;background: #333;}
#header, #header-light {position: relative;width: 100%;padding: 64px 94px 90px; z-index: 7;box-sizing: border-box;}
body.home #header {position: absolute;padding-bottom: 0;}
#header-light {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px!important;
    padding: 0 94px;
    z-index: 7;
    border-bottom: 1px solid #f3f3f3;
}
#header-light .left a, #header .left a {display: block;}
#header-light .left, #header .left {float: left;width: 168px;}
#header-light .left a span, #header .left a span {display: block;font-size: 122px;color: #000;transition: color .6s cubic-bezier(.19,1,.22,1);}
#header-light .left .logo.white a span, #header .left .logo.white a span {color: #fff;}
#header-light .left .logo span {font-size: 20px;}
#header-light .right, #header .right {float: right;text-align: right; width: calc(100% - 168px);}
#header-light .right a:before, #header .right a:before {position: absolute;content: "";background-color: #000;height: 1px;width: 0;max-width: 98%;left: 0; bottom: -4px;z-index: 1;transition: all .6s cubic-bezier(1,0,0,1);}
#header-light .right a:hover:before, #header .right a:hover:before { width: 98%;}
#header-light .right .top ul li, #header .right .top ul li {display: inline-block; margin-left: 48px;}
#header-light .right .top .text, #header .right .top .text {font-family: Maison Neue,Helvetica,Arial,sans-serif;font-size: 9px;line-height: 9px;color: #a6a6a6;letter-spacing: .3em;text-transform: uppercase;}
#header-light .right .top ul li:first-child, #header .right .top ul li:first-child{margin-left: 0;}
#header-light .right .bottom, #header .right .bottom {margin-top: 30px;}
#header-light .right .bottom ul li, #header .right .bottom ul li {display: inline-block;margin-left: 48px;}
#header-light .right a, #header .right a {position: relative;display: inline-block;}
#header-light .right .bottom .text, #header .right .bottom .text {font-size: 11px;line-height: 11px;letter-spacing: .3em;color: #000;text-transform: uppercase;}
#header-light .right .bottom { margin-top: 6px;}
#header-light .right .bottom.white .text, #header .right .bottom.white .text { color: #fff;}
#header-light .right .bottom.white a:before, #header .right .bottom.white a:before { background-color: #fff;}
#header-light.black {background-color: #000; border-bottom: none;}
#header-light.black .logo span, #header-light.black .right a .text {color: #fff!important;}
#footer {position: relative;background-color: #000;padding: 70px 94px;z-index: 6;}
#footer .left {width: calc(100% - 200px);float: left;}
#footer .left .logo {float: left;}
#footer .left .links {margin-left: 60px;padding-top: 53px;float: left;}
#footer .left .links a {position: relative;display: inline-block;}
#footer .left .links ul li {display: inline-block; margin-left: 20px;}
#footer .left .links .text {font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 10px;line-height: 10px;letter-spacing: .3em;color: #fff;text-transform: uppercase;}
#footer .left .links ul li.grey a .text {color: #8f8f8f;}
#footer .right {padding-top: 53px;float: right;width: 200px;}
#footer .right div {display: inline-block;vertical-align: middle;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 9px;line-height: 9px;color: #a6a6a6;text-transform: uppercase;letter-spacing: .3em;}
#main{    background-color: #f7f7f7;}
#main #s-slider .background {position: absolute;width: 100%;height: 100%;background-color: #fff;z-index: 0;}
#main #s-slider .thumbnail {position: relative;width: 50%;height: 100%;overflow: hidden;}
#main #s-slider .thumbnail .slide {position: absolute;width: 100%;height: 100%;overflow: hidden;top: 0;left: 0;z-index: 1;}
#main #s-slider .title {position: absolute;top:  50%;left: 50%;margin-left: -20px;width: 400px;z-index: 5;margin-top: -100px;}
#main #s-slider .title .slide{position: absolute;z-index: 1}
#main #s-slider .title .slide .head-line{font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;letter-spacing: .3em;text-transform: uppercase;}
#main #s-slider .title .slide .name{ margin-top: 20px; font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 70px;line-height: 70px;letter-spacing: .1em;color: #000;}
#main #s-slider .next-slider {position: absolute;top: 50%;left: 100%;margin-left: -140px;width: 400px;z-index: 1;margin-top: -100px;}
#main #s-slider .next-slider .slide {position: absolute;cursor: pointer;}
#main #s-slider .next-slider .slide .head-line {font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;letter-spacing: .3em;text-transform: uppercase;color: #d7d7d7;}
#main #s-slider .next-slider .slide .name {margin-top: 20px;font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 70px;line-height: 70px;letter-spacing: .1em;color: #d7d7d7;}
.split-lines .line{overflow: hidden}
.button-stripped{margin-top: 24px;}
.button-stripped a {display: inline-block;}
.button-stripped span {position: relative;display: inline-block;color: #000;letter-spacing: .4em;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;text-transform: uppercase;}
.button-stripped.white span {color: #fff;}
.button-stripped span:before {position: absolute;left: 0;bottom: -4px;content: "";background-color: #000;width: 0;height: 1px;z-index: 1;transition: all .8s cubic-bezier(.95,.05,.795,.035);}
.button-stripped.white span:before {background-color: #fff;}
#s-identity>a:hover .button-stripped span:before,#s-workshop>a:hover .button-stripped span:before {
    width: 98%;
    -moz-transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
    -o-transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
    -webkit-transition: all .8s cubic-bezier(.19,1,.22,1);
    -webkit-transition-delay: .6s;
    transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
}
.button-stripped .line {padding-top: 0;height:19px;position: relative;display: inline-block;vertical-align: top;overflow: hidden;}
.button-stripped .line.line2 {padding-left: 4px;margin-left: -12px;margin-top: 20px;}
.button-stripped .line.line1 .inner {position: relative;padding-left: 48px;}
.button-stripped .line.line1 .inner .w-line {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    background-color: #000;
    width: 0;
    height: 1px;
    z-index: 1;
    -moz-transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
    -o-transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
    -webkit-transition: all .8s cubic-bezier(.19,1,.22,1);
    -webkit-transition-delay: .6s;
    transition: all .8s cubic-bezier(.19,1,.22,1) .6s;
}
.button-stripped .line.line1 .inner .w-line.active{width: 36px;}
.button-stripped.white .line1 .inner .w-line {background-color: #fff;}
.button-scroll {height: 60px;cursor: pointer;}
.button-scroll .text {display: block;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 9px;line-height: 9px;letter-spacing: .3em;color: #000;transform: rotate(-90deg);}
.button-scroll .icon-arrow {position: absolute;left: 50%;transform: translate(-50%); bottom: 0;animation-name: a;animation-iteration-count: infinite;animation-direction: alternate;animation-duration: .6s;animation-timing-function: cubic-bezier(.445,.05,.55,.95);}


@keyframes a {
    0% {bottom: 0px;}
    100% {bottom: 5px;}
}

#main{background: #f7f7f7}
#main #s-slider .button-scroll {position: absolute;right: 100px; bottom: 30px;}

#main #s-citation {position: relative;padding: 130px 0 150px;text-align: center;max-width: 1400px;margin: 0 auto;}
#main #s-citation .content {font-size: 44px;line-height: 90px;color: #000;}
#main #s-citation .content, #main #s-citation .quote { font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;}
#main #s-citation .content .line{height: 90px}
#main #s-citation .quote {margin-top: 40px;color: #d0d0d0;font-size: 130px;line-height: 30px;height: 36px;padding-top: 36px;box-sizing: border-box;-webkit-box-sizing: border-box}
#main #s-citation .name {margin-top: 20px;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;color: #000;letter-spacing: .4em;}
#main #s-citation .separator {position: absolute;width: 1px;height: 172px;background-color: #000;left: 50%;top: calc(100% - 86px);overflow: hidden;z-index: 1;}
#main #s-citation .separator .container-lines {position: relative;height: 172px;}
#main #s-citation .separator .line {display: block;position: relative;width: 100%;height: 50%;background-color: #000;}
#main #s-citation .separator .line.line2 {background-color: #fff;}
.section-black {background-color: #000;}
#main .section-black { padding: 90px 0 200px;}
#main #s-identity {margin-top: 170px;position: relative;height: 410px;}
#main #s-identity>a {margin: 0 auto;display: block;width: 707px;height: 410px;}
#main #s-identity>a:hover .illustration{filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity: 0.3;}
#main #s-identity .illustration .item {position: absolute;left: 50%;top: 0;transform: translate(-50%);}
#main #s-identity .illustration .item.item2 { top: -76px; margin-left: 11px; width: 709px;height: 620px;z-index: 2;}
#main #s-identity .illustration {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: .8;visibility: visible;transition:all 0.5s cubic-bezier(0.21, -0.07, 0.68, 0.33);}
#main #s-identity .title {position: absolute;top: 50%;left: 50%;width: 820px!important;margin-left: 12px;transform: translate(-380px,-50%);
    font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 90px;line-height: 90px;letter-spacing: .73em;color: #fff;z-index: 3;}
#main #s-identity .title .char{position: absolute;width: 116px;top:0; transition:all 0.8s cubic-bezier(0.71, 0.01, 0.16, 0.99);}
#main #s-identity .title .char:first-child {transform: translateY(-52px);left:0;}
#main #s-identity .title .char:nth-child(2) {transform: translateY(56px);left:94px;}
#main #s-identity .title .char:nth-child(3) {transform: translateY(-150px);left:208px;}
#main #s-identity .title .char:nth-child(4) {transform: translateY(-20px);left:314px;}
#main #s-identity .title .char:nth-child(5) {transform: translateY(148px);left:429px;}
#main #s-identity .title .char:nth-child(6) {transform: translateY(-150px);left:523px;}
#main #s-identity .title .char:nth-child(7) {transform: translateY(58px);left:612px;}
#main #s-identity .title .char:nth-child(8) {transform: translateY(-70px);left:705px;}
#main #s-identity>a:hover .title .char{transform: translateY(0) !important;}
#main #s-identity .button-stripped {position: absolute;left: 50%;transform: translate(-50%);bottom: -84px;}
#main #s-identity>a:hover .button-stripped .line.line1 .inner .w-line{width: 0!important;left: 36px!important;transition: all .6s cubic-bezier(.95,.05,.795,.035);}
#main #s-workshop {margin-top: 300px;position: relative;height: 410px;}
#main #s-workshop>a {margin: 0 auto;display: block;width: 707px;height: 410px;}
#main #s-workshop>a:hover .illustration{filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity: 0.3;}
#main #s-workshop .illustration .item {position: absolute;left: 50%;top: 0;transform: translate(-50%);}
#main #s-workshop .illustration .item.item2 {top: -50px;width: 542px;height: 566px;margin-left: -20px;z-index: 2;}
#main #s-workshop .illustration {transition:all 0.5s cubic-bezier(0.21, -0.07, 0.68, 0.33);filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: .8;visibility: visible;}
#main #s-workshop .title {position: absolute;left: 50%;top: 50%;width: 820px!important;margin-left: 12px;transform: translate(-380px,-50%);font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 90px;line-height: 90px;letter-spacing: .73em;color: #fff;z-index: 3;}
#main #s-workshop .title .char{position: absolute;width: 116px;top:0; transition:all 0.8s cubic-bezier(0.71, 0.01, 0.16, 0.99);}
#main #s-workshop .title .char:first-child {transform: translateY(-52px);left:0px;}
#main #s-workshop .title .char:nth-child(2) {transform: translateY(56px);left:94px;}
#main #s-workshop .title .char:nth-child(3) {transform: translateY(-150px);left:208px;}
#main #s-workshop .title .char:nth-child(4) {transform: translateY(-20px);left:314px;}
#main #s-workshop .title .char:nth-child(5) {transform: translateY(148px);left:429px;}
#main #s-workshop .title .char:nth-child(6) {transform: translateY(-150px);left:523px;}
#main #s-workshop .title .char:nth-child(7) {transform: translateY(58px);left:612px;}
#main #s-workshop .title .char:nth-child(8) {transform: translateY(-70px);left:705px;}
#main #s-workshop>a:hover .title .char{transform: translateY(0) !important;}
#main #s-workshop .button-stripped {position: absolute;left: 50%;transform: translate(-50%);bottom: -84px;}
#main #s-workshop>a:hover .button-stripped .line.line1 .inner .w-line{width: 0!important;left: 36px!important;transition: all .6s cubic-bezier(.95,.05,.795,.035);}



#collections {position: relative;}
#collections .button-search {position: absolute;top: 0;right: 94px;z-index: 5;}
#collections #s-filters {position: relative;margin-bottom: 100px;}
#collections #s-filters .wrap {max-width: 1000px;}
#collections #s-filters .head-title {font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;letter-spacing: .4em;text-transform: uppercase;}
#collections #s-filters .filters {position: relative;margin-top: 30px;min-height: 25px;overflow: hidden;}
#collections #s-filters .filters>ul>li {margin-left: 34px;display: inline-block;vertical-align: middle;}
#collections #s-filters .filters>ul>li:first-child {margin-left: 0;}
#collections #s-filters .filters>ul>li .master {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 25px;line-height: 25px;letter-spacing: .1em;color: #a6a6a6;transition: color .8s cubic-bezier(.19,1,.22,1);}
#collections #s-filters .filters>ul>li .slave {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;position: absolute;width: 70%;padding-top: 40px;}
#collections #s-filters .filters>ul>li .slave ul li {display: inline-block;vertical-align: middle;margin-right: 40px;margin-bottom: 30px;}
#collections #s-filters .filters>ul>li .slave a {display: block;padding-left: 48px;}
#collections #s-filters .filters>ul>li .slave a span {position: relative;display: inline-block;color: #a6a6a6;letter-spacing: .4em;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 11px;text-transform: uppercase;transition: color .8s cubic-bezier(.19,1,.22,1);}
#collections #s-filters .filters>ul>li .slave ul li.current a span {color: #000;}
#collections #s-filters .filters>ul>li .slave a span:before {position: absolute;left: -48px;top: 45%;content: "";background-color: #a6a6a6;width: 36px;max-width: 102%;height: 1px;z-index: 1;transition: all .8s cubic-bezier(.19,1,.22,1);}
#collections #s-filters .filters>ul>li .slave ul li.current a span:before {background-color: #000;}
#collections #s-list-items {position: relative;overflow: hidden}
#collections #s-list-items .wrap {max-width: 1000px;}
#collections #s-list-items .inner-wrap {padding-bottom: 250px;}
#collections #s-list-items .filter-title {text-align:center;position: absolute;top: 0;left: 50%;width: 178px!important;transform: translate(-50%);font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 350px;line-height: 350px;color: #f3f3f3; z-index: 0;}
#collections #s-list-items .filter-title >div{height: 350px;}
#collections #s-list-items .container-items {position: relative;height: 0;width: 100%;overflow: hidden;}
#collections #s-list-items .item {position: relative;width: 304px;}
#collections #s-list-items .item:nth-child(2) {transform: translate(640px);}
#collections #s-list-items .item:nth-child(3n), #collections #s-list-items .item:nth-child(5n) {transform: translate(80px);}
#collections #s-list-items .item:nth-child(4n) {transform: translate(480px);}
#collections #s-list-items .item:nth-child(6n) {transform: translate(640px);}
#collections #s-list-items .item .thumbnail {position: relative;width: 304px;height: 380px;overflow: hidden;background-color: #f3f3f3;}
#collections #s-list-items .item .thumbnail img {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;display: block;width: 100%;height: 430px;margin-top: -25px;}
#collections #s-list-items .item .title {white-space: nowrap; position: absolute;top: 30px;left: 280px;right: auto;z-index: 5;font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 40px;line-height: 40px;letter-spacing: .1em;color: #000;}
#collections #s-list-items .item:nth-child(2) .title {left: auto;right: 280px;}
#collections #s-list-items .item:nth-child(5n) .title {top: auto;bottom: 30px;}
#collections #s-list-items .item:nth-child(6n) .title {left: auto;right: 280px;}
#collections #s-list-items .button-stripped {position: absolute;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;bottom: 100px;left: 50%;transform: translate(-50%);}

#identity {position: relative;}
#identity .button-workshop {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;display: none;position: absolute;top: 184px;right: 30px;z-index: 6;}
#identity #s-slider {position: relative;height: 100%;z-index: 2;}
#identity #s-slider .slider-item {position: absolute;top: 0;left: 0;padding-left: 0;width: calc(100% - 230px);height: 100%;}
#identity #s-slider .slider-item .title {position: relative;font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 50px;line-height: 50px;letter-spacing: .4em;color: #585858;height: 128px;width: 100%;z-index: 2;}
#identity #s-slider .slider-item .title span {position: absolute;left: 50px;bottom: -12px;}
#identity #s-slider .slider-item .content {position: relative;max-width: 500px;width: 100%;padding-left: 110px;height: calc(100% - 128px);z-index: 2;}
#identity #s-slider .slider-item .content .chapo {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 23px;line-height: 40px;}
#identity #s-slider .slider-item .content .description {margin-top: 10px;font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 13px;line-height: 26px;}
#identity #s-slider .slider-item .content .chapo, #identity #s-slider .slider-item .content .description {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;transform: translateY(20px);color: #fff;}
#identity #s-slider-background {position: absolute;left: 0;top: 0;width: calc(100% - 230px);overflow: hidden;z-index: 1;}
#identity #s-slider-background .slider-background-item {position: absolute;top: 0;left: 0;padding-left: 0;width: 100%;height: 100%;}
#identity #s-slider-background .slider-background-item .background {position: absolute;top: 128px;left: 0;width: 100%;overflow: hidden;height: calc(100% - 128px);z-index: 1;}
#identity #s-slider-background .slider-background-item .background img {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);display: block;min-width: 100%;min-height: 100%;height: auto;width: auto;}
#identity .next, #identity .prev {cursor: pointer;position: fixed;height: 0;top: 0;z-index: 5;}
#identity .prev {width: 340px;left: 0;border-right: 1px solid hsla(0,0%,100%,.2);}
#identity .next {width: 230px;right: 0;border-left: 1px solid hsla(0,0%,100%,.2);}

#workshop {padding-top: 340px;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;visibility: hidden;}
#workshop img {display: block;width: 100%;}
#workshop .b-1 {width: 100%;}
#workshop .b-1-35 {width: 35%;}
#workshop .b-1-38 {width: 38%;}
#workshop .b-1-40 {width: 40%;}
#workshop .b-1-45 {width: 45%;}
#workshop .b-1-50 {width: 50%;}
#workshop .b-1-60 {width: 60%;}
#workshop .b-1-65 {width: 65%;}
#workshop .b-1-82 {width: 82%;}
#workshop .p-c-0 {left: 50%;transform: translate(-50%);}
#workshop .p-l-6 {left: 6%;}
#workshop .p-l-15 {left: 15%;}
#workshop .p-r-0 {left: auto;right: 0;}
#workshop .p-r-7 {left: auto;right: 7%;}
#workshop .p-item, #workshop .t-item {position: absolute;top: 0;left: 0;width: 100%;z-index: 1;}
#workshop #s-plane0 {position: absolute;top: 0;left: 0;width: 100%;z-index: 0;}
#workshop #s-plane0 .p-item {position: relative;margin-top: 800px;}
#workshop #s-plane0 .p-item:first-child {margin-top: 0;}
#workshop #s-plane1 {position: relative;z-index: 1;}
#workshop .p-step {position: relative;width: 100%;}
#workshop .step-2 {margin-top: 560px;}
#workshop .step-3 {margin-top: 150px;}
#workshop .step-3 .p-item-3 {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 72px;line-height: 108px;text-align: center;letter-spacing: .6em;color: #fff;z-index: 3;}
#workshop .step-3 .p-item-4 {font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 20px;color: #fff;width: 50%;left: 50%;letter-spacing: .4em;max-width: 370px;text-transform: uppercase;}
#workshop .step-4 {margin-top: 370px;}
#workshop .step-4 .p-item-0 {z-index: 2;}
#workshop .step-4 .p-item-1 {z-index: 1;}
#workshop .step-4 .p-item-3 {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 72px;line-height: 108px;letter-spacing: .6em;color: #fff;z-index: 3;top: -200px!important;}
#workshop .step-5 {margin-top: 110px;}
#workshop .step-6 {margin-top: 356px;}
#workshop .step-6 .p-item-1 {font-size: 42px;letter-spacing: .6em;color: #fff;z-index: 3;top: -200px!important;text-align: right!important;}
#workshop .step-6 .p-item-1, #workshop .step-6 .p-item-1 .line2 {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;line-height: 108px;}
#workshop .step-6 .p-item-2 {font-family: Maison Neue Book,Helvetica,Arial,sans-serif;font-size: 11px;line-height: 20px;color: #fff;width: 50%;left: 50%;max-width: 370px;letter-spacing: .4em;text-transform: uppercase;z-index: 4;margin-left: 12%;}
#workshop .step-7 {margin-top: 145px;}
#workshop .step-8 {margin-top: 124px;}
#workshop .step-8 .p-item-1 {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 72px;line-height: 108px;letter-spacing: .6em;color: #fff;z-index: 3;top: -50px!important;}
#workshop .step-9 {margin-top: 370px;z-index: 2;}
#workshop .step-9 .p-item-1 {font-family: GTSectraDisplay-Light,Helvetica,Arial,sans-serif;font-size: 92px;line-height: 138px;letter-spacing: .6em;text-align: center!important;color: #fff;z-index: 3;}
#workshop .end {position: relative;z-index: 1;background-color: #000;width: 100%;height: 580px;text-align: center;}
